target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/placeholder.txt
!**/src/test/resources/architecture/placeholder.txt

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr
/out/
!**/src/main/resources/static/index.html


.vscode/

*.log
.docker/
docker-compose.override.yml

.DS_Store
Thumbs.db


.env
.env.local
.env.*.local


*data