<h2 mat-dialog-title>{{ data.unit ? "Editar" : "Nova" }} Unidade</h2>
<form [formGroup]="unitForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="unitForm.get('name')?.hasError('required')">
        O nome é obrigatório
      </mat-error>
      <mat-error *ngIf="unitForm.get('name')?.hasError('duplicateName')">
        Esta unidade já existe
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Símbolo</mat-label>
      <input matInput formControlName="symbol" required />
      <mat-error *ngIf="unitForm.get('symbol')?.hasError('required')">
        O símbolo é obrigatório
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onCancel()">Cancelar</button>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="unitForm.invalid"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
