<h2 mat-dialog-title>{{ data.unit ? 'Edit' : 'New' }} Unit</h2>
<form [formGroup]="unitForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      @if (unitForm.get('name')?.hasError('required')) {
        <mat-error> Name is required </mat-error>
      }
      @if (unitForm.get('name')?.hasError('duplicateName')) {
        <mat-error> This unit already exists </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Symbol</mat-label>
      <input matInput formControlName="symbol" required />
      @if (unitForm.get('symbol')?.hasError('required')) {
        <mat-error> Symbol is required </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-raised-button color="primary" [disabled]="unitForm.invalid">
      Save
    </button>
  </mat-dialog-actions>
</form>
