<form [formGroup]="itemForm" (ngSubmit)="onSave()">
  <h2 mat-dialog-title>{{ data.item ? "Editar" : "Novo" }} Item</h2>
  <mat-dialog-content>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nome</mat-label>
      <input
        matInput
        formControlName="name"
        placeholder="Digite o nome do item"
        required
      />
      @if (itemForm.get("name")?.hasError("required")) {
        <mat-error> Nome é obrigatório </mat-error>
      }
      @if (itemForm.get("name")?.hasError("duplicateName")) {
        <mat-error> Já existe um item com este nome </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="idCategory" required>
        @for (category of categories(); track category.id) {
          <mat-option [value]="category.id">
            {{ category.name }}
          </mat-option>
        }
      </mat-select>
      @if (itemForm.get("idCategory")?.hasError("required")) {
        <mat-error> Categoria é obrigatória </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Unidade</mat-label>
      <mat-select formControlName="idUnit" required>
        @for (unit of units(); track unit.id) {
          <mat-option [value]="unit.id">
            {{ unit.name }} ({{ unit.symbol }})
          </mat-option>
        }
      </mat-select>
      @if (itemForm.get("idUnit")?.hasError("required")) {
        <mat-error> Unidade é obrigatória </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="itemForm.invalid"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
